table{
    border: 5px solid rgb(120, 2, 18);

    margin-left: auto;
    margin-right: auto;
}
  
input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(175, 96, 0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}
  
input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 5px solid black;
}